@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

$primary-font-family: 'Roboto', sans-serif;
$header-font-family: 'Roboto Slab', serif;

$dark-grey: #333333;
$medium-grey: #cccccc;
$light-grey: #eeeeee;

$background-primary: #eeffff;
$yellow: yellow;
$lightgreen: lightgreen;
$lightyellow: lightyellow;
$green: green;
$darkgreen: darken($green, 25%);
$red: red;
$maroon: darken($red, 25%);
$pink: #e91e63;
